{%extends 'polls/base.html'%}
{% block head%}
<style media="screen">
  .heading {
    text-align: center;
    margin-top: 5px;
  }

  #question {
    margin-left: 12px;
    margin-top: 4px;
    font-size: 20px;
  }
</style>

{% endblock%}

{% block body%}

<h2 class='heading'>Polls posted by you.</h2>

{%for i in polls%}

<div class="container mt-4">
  <div class="card">
    <h5 class="card-header inline">By You<p style="font-size:15px;float:right;">Posted {{i.timest | timesince }} ago</p>
    </h5>

    {% if request.user.username|add:',' not in i.voters %}
    <p style="font-size:25px;" id='question' class="card-text">{{i.question}}<small> (Vote to view results.)</small></p>
    <label style="margin-left:15px; font-size:20px" for="floatingInput">{{i.choice1}}</label>
    <div class="bigdiv1 d-flex flex-row">
      <div style=" width: 100%;font-size: 20px;height: 30px;margin-left:15px; margin-right:15px;" class="progress">
        <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>

      {% else %}
      <p style="font-size:25px;" id='question' class="card-text">{{i.question}}</p>
      <label style="margin-left:15px; font-size:20px" for="floatingInput">{{i.choice1}}</label>
      <div class="bigdiv1 d-flex flex-row">
        <div style=" width: 100%;font-size: 20px;height: 30px;margin-left:15px; margin-right:15px;" class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{i.percentage1}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{i.percentage1}}%</div>
        </div>
        {% endif %}


        {% if request.user.username|add:',' in i.voters %}
        {% for j  in votes %}
        {% if request.user.username == j.user.username and i.question == j.question and i.choice1 == j.choice %}
        <p></p>
        {% endif %}
        {% endfor %}

        {% else %}
        <form action="yourpolls" method="post"> {% csrf_token %}
          <input type="hidden" id="choice1" name="choice1" value="{{i.choice1}}">
          <input type="hidden" id="question" name="question" value="{{i.question}}">
          <input type="hidden" id="id" name="id" value="{{i.id}}">
          <button style="margin-right: 18px;" type="submit" class="btn btn-primary" name="button">Vote</button>
        </form>
        {% endif %}
      </div>

      {% if request.user.username|add:',' not in i.voters%}
      <label style="margin-left:15px; font-size:20px" for="floatingInput">{{i.choice2}}</label>
      <div class="bigdiv1 d-flex flex-row">
        <div style=" width: 100%;font-size: 20px;height: 30px;margin-left:15px; margin-right:15px;" class="progress">
          <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>

        {% else %}
        <label style="margin-left:15px; margin-top:10px; font-size:20px" for="floatingInput">{{i.choice2}}</label>
        <div class="bigdiv2 d-flex flex-row">
          <div style="width: 100%;font-size: 20px;height: 30px; margin-left:15px; margin-right:15px;" class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{i.percentage2}}%" aria-valuemin="0" aria-valuemax="100">{{i.percentage2}}%</div>
          </div>
          {% endif %}

          {% if request.user.username|add:',' in i.voters %}
          {% for j  in votes %}
          {% if request.user.username == j.user.username and i.question == j.question %}
          {% if i.choice1 == j.choice or i.choice2 == j.choice %}
        </div>
        <div style="margin-top: 28px;margin-bottom: -8px;margin-left: 19px;" class=" d-flex flex-row">
          <b>Already Voted for {{j.choice}} </b>
        </div>
        <div class="card-body">
          <a href="/delet/{{i.id}}" class="btn btn-primary">Delete Poll</a>
        </div>
      </div>
      {% endif %}
      {%else%}
      <p></p>
      {% endif %}
      {% endfor %}

      {% else %}
      <form action="yourpolls" method="post"> {% csrf_token %}
        <input type="hidden" name="choice2" value="{{i.choice2}}">
        <input type="hidden" name="question" value="{{i.question}}">
        <input type="hidden" id="id" name="id" value="{{i.id}}">
        <button style="margin-right: 18px;" type="submit" class="btn btn-primary" name="button">Vote</button>
      </form>
    </div>

    <div class="card-body">
      <a href="/delet/{{i.id}}" class="btn btn-primary">Delete Poll</a>
    </div>
    {% endif %}
  </div>
</div>
{%endfor%}

{% endblock%}

{%block script%}
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function(e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };
</script>

{%endblock%}
